* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.flexbox-container {
    display: flex;
}

.flexbox-container>* {
    height: 100dvh;
}

.flexbox-container .flexbox-item {
    /* border: 1px solid black; */
}

.flexbox-container .image {
    flex-basis: 35%;
    background-image: url(img/leaf.jpg);
    background-size: cover;
    position: relative;
    display: flex;
}

.flexbox-container .form {

    background-color: lightgray;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.flexbox-container .form > * {
    flex: 1;
}

.flexbox-container .logo {
    background-color: rgba(17, 16, 16, 0.7);
    height: 5rem;
    position: absolute;
    top: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;


    margin-top: auto;
    margin-bottom: auto;
}

.logo img {
    margin: auto;
    max-height: 60%;
    align-items: center;
}

.logo p {
    font-size: 3rem;
    color: white;
    height: 100%;
}

.form p {
    margin: 2rem;
}

h1 {
    margin: 2rem;
}

h2 {
    margin: 2rem;

}

form {
    box-sizing: border-box;
    margin: 2rem;

}



.form-content {
    background-color: white;
    box-shadow: 0px 10px 5px gray;
}



input {
    outline: none;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 30%;
    margin-right: 1em;
    margin-bottom: 1em;

}

input:focus {
    border: 3px solid lightblue;
    box-shadow: 0px 3px 2px gray;
}

input.no-match {
    border: 3px solid red;
}


button {
    padding: 1em;
    font: bold 1em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: green;
    cursor: pointer;
    margin: 2rem;
    width: 30%;
}

label {
    color: rgb(59, 59, 59);
    display: inline-flex;
    font-weight: bold;
    width: 500px;
    text-transform: uppercase;
}